---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PodcastSection from '../components/PodcastSection.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Investor Podcast - Finanzen, Börse, Wirtschaft">
  <Header />
  <main>
    <Hero />
    <PodcastSection />
    <TestimonialSection />
    <ContactForm />
  </main>
  <Footer />
</Layout>